.unclickable i, .unclickable .btn { opacity: 0 }

.prj
  position: relative
  overflow: hidden
.prj.active:after
  display: block
  content: " "
  position: absolute
  right: -.4em
  box-shadow: 2px 4px 6px rgba(0,0,0,.2)
  width: .8em
  height: .8em
  background: #000
  transform: rotate(45deg)
.prj.avoid
  background: #f1f2f3!important
  color: #999
  & *
    cursor: not-allowed!important
  i, .btn
    visibility: hidden
    pointer-events: none
.prj.highlight
  background: #9ff
.prj.disabled
  filter: saturate(0)
  background: #edeeef
  color: #777879
  .clickable
    cursor: not-allowed!important
  &.hidden
    display: none!important
@media (max-width: 1280px)
  .project-viewer
    display: none
@media (max-width: 961px)
  ._flex-md-wrap
    flex-wrap: wrap

._jp { padding: .5em 1em }

@media (max-width: 768px)
  ._jp .progress
    height: 5px
  ._jp-title
    display: none
  ._row_g1
    flex-wrap: wrap
  ._row_g1_h
    display: none
  ._row_g1_d
    max-width: fit-content
  .prj-name-field
    flex-basis: 100%
    margin-bottom: .5em

@media (max-width: 480px)
  ._jp { padding: .25em .5em .25em }
  ._jp-search { display: none }


.prj .ticket-cell
  color: #0df
  background-color: #edeeef
  display: flex
  align-items: center
  justify-content: center
  span { color: #000 }
