div
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  include mixin.pug
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block")
    include:lsc fields/index.ls
    include:lsc index.ls
  div(plug="form")
    img.border-bottom.print-hide.embed-hide(path,path-src="img/New Wave-grant dash banner 0305.jpg?v1",
    width="1600",height="800",style="width:100%;height:auto",alt="brd visual")
    .sect.embed-hide
      h1 #[span(t="title.name")]
      p.text-muted(t="title.date")
      .mt-4
        span 徵件辦法：
        a(href="https://www.lightboxlib.org/new-wave/2024" target="_blank") https://www.lightboxlib.org/new-wave/2024
      .mt-4
        span(t="必填項目提示.0")
        span.mx-2 #[span.text-danger.font-weight-bold ＊]
        span(t="必填項目提示.1")
    .sect
      h3#sect-1.mb-5 一、資格確認
      h4 參加資格
      ul.li-tweak
        li 請確認符合以下三項資格，方可報名。
        li 若經查資格不符，報名費將不予退還。
        li 若有疑問，可查閱「<a href="https://www.lightboxlib.org/new-wave#faq" target="_blank">常見問題</a>」，或聯絡主辦方。
      .bg-white.shadow-sm.rounded: +widget("參賽資格")
      h4.pt-4 作品規範
      ul.li-tweak
        li 投件作品，須為 2019 年後之創作。
        li 投件作品，須未曾獲得或入選國內外之攝影或藝術創作獎項。
        li 個人或團體，至多可各投一組作品參加。
        li 投件作品，可為進行中，或已完成之創作。

      +widget("作品規範")
      h4.pt-4 投件須知
      ol.li-tweak
        li 評審會議結束後，所有投件作品將以去識別的方式開放（僅呈現作品之名稱、簡介和圖檔，不揭露個資），提供創作獎之所有參加者和贊助者觀摩與交流，展期約 1 個月。
        li 參加者應對其資料之真實性負責。若經查有不實情事，主辦單位得取消其獲獎資格，並追回已頒發之獎金和獎狀，且下一屆不得參加。
        li 參加者不得提交任何侵害第三方權利之作品圖片和文字說明。若作品相關資料含有任何第三方創作之內容，請自行於送件前取得相關授權同意。若事後涉及相關法律爭議，由參加者自行負責。
        li 參加者授權主辦單位為研究、教育、推廣等目的，攝影、錄製相關影音成果，不受時間、地域、次數及方式之限制，包括︰公開上映權、公開口述權、公開演出權、公開傳輸權、公開播送權。其他權利，主辦單位須經參加者另行授權方得執行。
        li 參選作品之著作財產權，須因應主辦單位出版、推廣、展示等需求，授權主辦單位執行，包括︰公開上映權、公開展示權、公開口述權、公開演出權、公開傳輸權、公開播送權、重製權、編輯權、相關文宣品發行及販售。其他權利，主辦單位須經參加者另行授權方得執行。
        li 入選以上（含入選）創作者，同意於作品發表會現場，開放大眾攝影。
        li 完成報名程序後，恕不退費，並視為同意且遵守本徵件辦法之各項規定。
        li 本徵件辦法如有未盡事宜，得由主辦單位修正並隨時公告於網站，主辦單位保有補充解釋權。

      +widget("參賽需知")

    .sect
      h3#sect-2.mb-5 二、基本資料
      ul.li-tweak
        li 若為團體報名者，請推派一位代表填寫。
        li 下列資料，僅供本獎項之行政聯絡、了解投件者群像，請放心填寫。
      .row
        .col-md: +widget("真實姓名")
        .col-md: +widget("別名")
      .row
        .col-md: +widget("團體名稱")
      .row
        .col-md: +widget("居住地")
        .col-md: +widget("年齡")
      +widget("性別")
      +widget("國籍")
      +widget("電子信箱")
      +widget("聯絡電話")

    .sect
      h3#sect-3.mb-5 三、創作自述
      +widget("作品名稱")
      +widget("作品簡介")
      +widget("創作媒材揭露：影像內容是否源自生成式 AI 工具？")

    .sect
      h3#sect-4.mb-5 四、作品上傳
      +widget("作品上傳")
      +widget("上傳作品之展呈示意圖")

    .sect
      h3#sect-5.mb-5 五、作者簡歷
      +widget("自我介紹")
      +widget("參展經歷")

    .sect
      h3#sect-6.mb-5 六、報名費繳交
      +widget("是否具學生身分？")
      +widget("學生證正面")

    .sect.embed-hide.print-hide.bg-white
      .btn.btn-primary.btn-lg.px-4(t,ld="submit") 送件
      .my-2: .text-danger.text-sm * #[span(t) 請善用暫存功能，送件後無法再修改。]
    .print-hide: +nbr(4)
  div(plug="toc")
    .dropdown
      .btn.btn-sm.btn-block.btn-outline-secondary.dropdown-toggle(ld="dropdown",data-toggle="dropdown")
        span(t) 目錄
      .dropdown-menu.dropdown-menu-right.shadow-sm
        a.dropdown-item.clickable(href="#sect-1") 1. #[span(t) 資格確認]
        a.dropdown-item.clickable(href="#sect-2") 2. #[span(t) 基本資料]
        a.dropdown-item.clickable(href="#sect-3") 3. #[span(t) 創作自述]
        a.dropdown-item.clickable(href="#sect-4") 4. #[span(t) 作品上傳]
        a.dropdown-item.clickable(href="#sect-5") 5. #[span(t) 作者簡歷]
        a.dropdown-item.clickable(href="#sect-6") 6. #[span(t) 報名費繳交]
        //-a.dropdown-item.clickable(href="#sect-5") 5. #[span(t) 條款與同意書]
    hr
