//- module
.text-center: h2 個人資料提供同意書      
.my-4: hr
.mb-4
  p 依據個人資料保護法第八條第一項規定，此計劃之承辦單位與 Grantdash 系統營運單位在向您蒐集個人資料之前，依法向您告知下列事項。當您勾選「我同意」，表示您已閱讀、瞭解並同意接受本同意書之所有內容：

.mb-4
  h4 個人資料蒐集目的及類別
  p 計劃承辦單位為了執行此計劃、進行計劃相關之內容開發、業務執行、未來計劃之改進、資料分析與相關研究以及支持 Grantdash 系統維運等，需向您蒐集並利用、處理包含但不限於姓名、職稱、地址、聯絡電話、電子郵件信箱乃至各項書面文件等得以直接或間接識別您個人之資料。

.mb-4
  h4 個人資料利用之期間、地區、對象及方式
  ol
    li 期間：個人資料蒐集之特定目的存續期間、依相關法令規定之保存年限或因計劃承辦方執行業務所必須之保存期間。
    li 地區：Grantdash 主機、計劃承辦單位之電腦主機與相關網路伺服機主機所在地、計劃或活動執行與提供之地區。
    li 對象：計劃承辦單位、包含 Grantdash 系統營運單位之業務委外單位及相關的合作往來單位。
    li 方式：以人工、自動化使用於各項與計劃目的有關之利用。

.mb-4
  h4 個人資料相關之權利行使
  p 依據個資法第三條規定，您就此計劃搜集、保有之您的個人資料得行使下列權利：
  ol
    li 查詢或閱覽、製給複製本。
    li 請求補充或更正，惟依法您應為適當之釋明。
    li 請求停止蒐集、處理或利用及請求刪除。但因依個資法第十一條第三項規定因執行業務所必須者，得不依您請求為之。
  p 您行使前項權利時，應以書面郵寄前開個人資料權利行使之文件至計畫承辦單位、或透過 Grantdash 系統營運單位轉交該書面資料，以行使上開權利。
  p 您應保證您所提供的資料均為正確、最新且完整的資料。若有任何資料之異動，您亦應立即向承辦單位提出更正，以保持資料之正確性；若由於資料之錯誤或未即時更正導致您的權益受損，計劃承辦單位與 Grantdash 系統營運單位概不負責。

.mb-4
  h4 準據法與管轄法院
  p 本同意書之解釋與適用均應依照中華民國法律處理，並以臺灣臺北地方法院為第一審管轄法院。
