.prj-detail
  display: grid
  grid-template: unquote("fit-content(2em) 1fr / fit-content(5em) 1fr 1fr")
  .prj-detail-idx
    white-space: pre
  div
    padding: .25em

.prj-detail.prj-detail-head
  font-weight: bold

.c-vhc
  vertical-align: middle!important
  text-align: center!important
.c-vc { vertical-align: middle!important }
.c-hc { text-align: center!important }
.c-bb { border-bottom: 1px solid #000 }
